.version.index /* version checker */
{
	color: #000006;
	background-color: #1BFD79;
}

#page
{
	background-image: none;
	width: 100%;
	border-width: 0px;
	margin-left: auto;
	z-index: 1;
	border-color: #000000;
	background-color: transparent;
	margin-right: auto;
}

#pu1300
{
	width: 100%;
	margin-right: -10000px;
}

#u1300
{
	border-style: solid;
	left: -50%;
	border-color: #64D1FF;
	width: 100%;
	position: relative;
	background-color: #000000;
	border-width: 0px 0px 1px;
}

#u1300-wrapper
{
	left: 50%;
	z-index: 65;
	width: 100%;
	position: fixed;
}

#u1642
{
	z-index: 59;
	background-position: center top;
	background-repeat: no-repeat;
	position: relative;
	background-color: transparent;
	height: 306px;
	background-size: cover;
}

#u252-36
{
	z-index: 2;
	color: #999999;
	border-color: transparent;
	border-width: 0px;
	font-weight: 300;
	font-family: ingra, sans-serif;
	position: relative;
	background-color: transparent;
}

#u252,#u252-3
{
	text-align: center;
}

#u1957
{
	border-style: solid;
	z-index: 60;
	border-color: #64D1FF;
	position: relative;
	background-color: transparent;
	height: 1px;
	border-width: 1px 0px 0px;
}

#u1874-21
{
	border-width: 0px;
	position: relative;
	background-color: transparent;
	z-index: 38;
	color: #999999;
	border-color: transparent;
}

#u1874-2
{
	font-family: ingra, sans-serif;
	text-align: center;
	font-weight: 300;
}

#u1874-3
{
	font-weight: 300;
	font-size: 20px;
	line-height: 28px;
	font-family: ingra, sans-serif;
	text-decoration: none;
}

#u1874-12,#u1874-13,#u1874-15,#u1874-17,#u1874-19
{
	font-family: Helvetica Neue Light;
}

#u1874-7,#u1874-8,#u1874-9,#u1874-11,#u1874-14,#u1874-16,#u1874-18
{
	font-family: ingra, sans-serif;
	font-weight: 300;
}

#u1314-4-wrapper
{
	left: 50%;
	z-index: 70;
	position: fixed;
}

#u1314-4,#u1321-4
{
	left: -50%;
	font-size: 29px;
	line-height: 35px;
	font-family: poiret-one, sans-serif;
	text-align: center;
	width: 100%;
	color: #A7A7A7;
	position: relative;
	background-color: transparent;
	font-weight: 400;
}

#u1314-4:hover,#u1321-4:hover
{
	margin-bottom: 0px;
	margin-top: 0px;
	padding-bottom: 0px;
	width: 100%;
	margin-right: 0px;
	padding-top: 0px;
}

#u1314-4:hover p,#u1321-4:hover p
{
	visibility: inherit;
	color: #FFFFFF;
}

#u1321-4-wrapper
{
	left: 50%;
	z-index: 74;
	position: fixed;
}

#u2010-4
{
	z-index: 61;
	text-align: center;
	color: #999999;
	position: relative;
	background-color: transparent;
	margin-right: -10000px;
}

.html
{
	background-color: #000000;
}

#top,#about,#portfolio,body
{
	position: relative;
}

.verticalspacer
{
	min-height: 1px;
}

@media (min-width: 801px)
{
	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 472px;
		padding-bottom: 28px;
		max-width: 960px;
	}

	#pu1300
	{
		padding-bottom: 62px;
	}

	#u1300
	{
		height: 62px;
		margin-left: 480px;
		max-width: 960px;
	}

	#u1300-wrapper
	{
		top: 0px;
		margin-left: -480px;
		max-width: 960px;
	}

	#u1417-4
	{
		min-height: 51px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 46px;
		color: #FFFFFF;
		text-align: center;
		font-size: 38px;
		font-family: poiret-one, sans-serif;
		font-weight: 400;
		position: relative;
		left: -50%;
		margin-left: 146px;
		width: 100%;
		max-width: 292px;
	}

	#u1417-4:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 51px;
		width: 100%;
		max-width: 292px;
		margin: 0px 0px 0px 146px;
	}

	#u1417-4:hover p,#u1417-4:hover h1
	{
		color: #FFFFFF;
		visibility: inherit;
	}

	#u1417-4-wrapper
	{
		position: fixed;
		top: 11px;
		z-index: 66;
		left: 50%;
		margin-left: -480px;
		width: 30.42%;
		max-width: 292px;
	}

	#top
	{
		width: 22px;
		margin-right: -10000px;
		margin-top: 3px;
		left: 156px;
	}

	#u1642
	{
		background-image: url("../images/dsc_0151.jpg");
		margin-right: -10000px;
		margin-top: 166px;
		width: 67.5%;
		left: 16.25%;
	}

	#about
	{
		width: 22px;
		margin-right: -10000px;
		margin-top: 454px;
		left: 156px;
	}

	#pu252-36
	{
		margin-right: -10000px;
		margin-top: 496px;
		width: 67.61%;
		margin-left: 16.15%;
	}

	#u252-36
	{
		min-height: 457px;
		line-height: 28px;
		font-size: 20px;
		width: 99.85%;
		margin-left: 0.16%;
	}

	#u1957
	{
		margin-top: 81px;
		width: 100%;
	}

	#portfolio
	{
		width: 22px;
		margin-right: -10000px;
		margin-top: 1035px;
		left: 155px;
	}

	#u1874-21
	{
		min-height: 457px;
		margin-right: -10000px;
		margin-top: 1117px;
		width: 67.5%;
		left: 16.25%;
	}

	#u1874-2
	{
		font-size: 28px;
		line-height: 39px;
	}

	#u1874-13
	{
		font-size: 17px;
		line-height: 24px;
	}

	#u1874-12,#u1874-15,#u1874-17,#u1874-19
	{
		font-size: 17px;
		line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
	}

	#u1874-7,#u1874-8,#u1874-9,#u1874-11,#u1874-14,#u1874-16,#u1874-18
	{
		font-size: 20px;
		line-height: 28px;
	}

	#u1314-4
	{
		min-height: 43px;
		margin-left: 59.5px;
		max-width: 119px;
	}

	#u1314-4-wrapper
	{
		top: 19px;
		margin-left: 205px;
		width: 12.4%;
		max-width: 119px;
	}

	#u1321-4
	{
		min-height: 43px;
		margin-left: 59.5px;
		max-width: 119px;
	}

	#u1314-4:hover,#u1321-4:hover
	{
		margin-left: 60px;
		min-height: 43px;
		max-width: 119px;
	}

	#u1321-4-wrapper
	{
		top: 19px;
		margin-left: 361px;
		width: 12.4%;
		max-width: 119px;
	}

	#u2010-4
	{
		min-height: 23px;
		margin-top: 11px;
		width: 18.44%;
		left: 40.84%;
	}

}

@media (min-width: 769px) and (max-width: 800px)
{
	#muse_css_mq
	{
		background-color: #000320;
	}

	#bp_800.active
	{
		display: block;
	}

	#page
	{
		min-height: 472px;
		padding-bottom: 28px;
		max-width: 800px;
	}

	#pu1300
	{
		padding-bottom: 62px;
	}

	#u1300
	{
		height: 62px;
		margin-left: 400px;
		max-width: 800px;
	}

	#u1300-wrapper
	{
		top: 0px;
		margin-left: -400px;
		max-width: 800px;
	}

	#u1417-4
	{
		min-height: 50px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 46px;
		color: #FFFFFF;
		text-align: center;
		font-size: 38px;
		font-family: poiret-one, sans-serif;
		font-weight: 400;
		position: relative;
		left: -50%;
		margin-left: 155px;
		width: 100%;
		max-width: 310px;
	}

	#u1417-4:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 50px;
		width: 100%;
		max-width: 310px;
		margin: 0px 0px 0px 155px;
	}

	#u1417-4:hover p,#u1417-4:hover h1
	{
		color: #FFFFFF;
		visibility: inherit;
	}

	#u1417-4-wrapper
	{
		position: fixed;
		top: 12px;
		z-index: 66;
		left: 50%;
		margin-left: -400px;
		width: 38.75%;
		max-width: 310px;
	}

	#pu1642
	{
		padding-bottom: 0px;
		margin-right: -10000px;
		margin-top: 166px;
		width: 67.63%;
		margin-left: 16.13%;
	}

	#u1642
	{
		background-image: url("../images/dsc_0151.jpg");
		width: 99.82%;
	}

	#u252-36
	{
		min-height: 457px;
		line-height: 28px;
		font-size: 20px;
		margin-top: 24px;
		width: 99.82%;
		margin-left: 0.19%;
	}

	#u1957
	{
		margin-top: 81px;
		width: 100%;
	}

	#u1874-21
	{
		min-height: 457px;
		margin-top: 81px;
		width: 99.82%;
	}

	#u1874-2
	{
		font-size: 28px;
		line-height: 39px;
	}

	#u1874-13
	{
		font-size: 17px;
		line-height: 24px;
	}

	#u1874-12,#u1874-15,#u1874-17,#u1874-19
	{
		font-size: 17px;
		line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
	}

	#u1874-7,#u1874-8,#u1874-9,#u1874-11,#u1874-14,#u1874-16,#u1874-18
	{
		font-size: 20px;
		line-height: 28px;
	}

	#ptop
	{
		width: 0.01px;
		margin-right: -10000px;
		margin-top: 3px;
		margin-left: 155px;
	}

	#top
	{
		margin-left: 1px;
	}

	#about
	{
		margin-left: 1px;
		margin-top: 433px;
	}

	#portfolio
	{
		margin-top: 563px;
	}

	#u1314-4
	{
		min-height: 42px;
		margin-left: 49.583333333333314px;
		max-width: 99px;
	}

	#u1314-4-wrapper
	{
		top: 20px;
		margin-left: 125px;
		width: 12.38%;
		max-width: 99px;
	}

	#u1321-4
	{
		min-height: 42px;
		margin-left: 49.583333333333314px;
		max-width: 99px;
	}

	#u1314-4:hover,#u1321-4:hover
	{
		margin-left: 50px;
		min-height: 42px;
		max-width: 99px;
	}

	#u1321-4-wrapper
	{
		top: 20px;
		margin-left: 281px;
		width: 12.38%;
		max-width: 99px;
	}

	#u2010-4
	{
		min-height: 23px;
		margin-top: 11px;
		width: 18.5%;
		left: 40.75%;
	}

}

@media (min-width: 732px) and (max-width: 768px)
{
	#muse_css_mq
	{
		background-color: #000300;
	}

	#bp_768.active
	{
		display: block;
	}

	#page
	{
		min-height: 472px;
		padding-bottom: 28px;
		max-width: 768px;
	}

	#pu1300
	{
		padding-bottom: 61px;
		margin-top: 1px;
	}

	#u1300
	{
		height: 61px;
		margin-left: 384px;
		max-width: 768px;
	}

	#u1300-wrapper
	{
		top: 1px;
		margin-left: -384px;
		max-width: 768px;
	}

	#u1417-4
	{
		min-height: 50px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 46px;
		color: #FFFFFF;
		text-align: center;
		font-size: 38px;
		font-family: poiret-one, sans-serif;
		font-weight: 400;
		position: relative;
		left: -50%;
		margin-left: 155.5px;
		width: 100%;
		max-width: 311px;
	}

	#u1417-4:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 50px;
		width: 100%;
		max-width: 311px;
		margin: 0px 0px 0px 156px;
	}

	#u1417-4:hover p,#u1417-4:hover h1
	{
		color: #FFFFFF;
		visibility: inherit;
	}

	#u1417-4-wrapper
	{
		position: fixed;
		top: 12px;
		z-index: 66;
		left: 50%;
		margin-left: -384px;
		width: 40.5%;
		max-width: 311px;
	}

	#pu1642
	{
		padding-bottom: 0px;
		margin-right: -10000px;
		margin-top: 166px;
		width: 67.58%;
		margin-left: 16.15%;
	}

	#u1642
	{
		background-image: url("../images/dsc_0151.jpg");
		width: 99.81%;
	}

	#u252-36
	{
		min-height: 457px;
		line-height: 28px;
		font-size: 20px;
		margin-top: 24px;
		width: 99.81%;
	}

	#u1957
	{
		margin-top: 81px;
		width: 100%;
	}

	#u1874-21
	{
		min-height: 457px;
		margin-top: 81px;
		width: 99.81%;
	}

	#u1874-2
	{
		font-size: 28px;
		line-height: 39px;
	}

	#u1874-13
	{
		font-size: 17px;
		line-height: 24px;
	}

	#u1874-12,#u1874-15,#u1874-17,#u1874-19
	{
		font-size: 17px;
		line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
	}

	#u1874-7,#u1874-8,#u1874-9,#u1874-11,#u1874-14,#u1874-16,#u1874-18
	{
		font-size: 20px;
		line-height: 28px;
	}

	#ptop
	{
		width: 0.01px;
		margin-right: -10000px;
		margin-top: 3px;
		margin-left: 156px;
	}

	#about
	{
		margin-top: 433px;
	}

	#portfolio
	{
		margin-top: 545px;
	}

	#u1314-4
	{
		min-height: 42px;
		margin-left: 47.60000000000002px;
		max-width: 95px;
	}

	#u1314-4:hover
	{
		margin-left: 48px;
		min-height: 42px;
		max-width: 95px;
	}

	#u1314-4-wrapper
	{
		top: 20px;
		margin-left: 113px;
		width: 12.37%;
		max-width: 95px;
	}

	#u1321-4
	{
		min-height: 42px;
		margin-left: 54.599999999999966px;
		max-width: 109px;
	}

	#u1321-4:hover
	{
		margin-left: 55px;
		min-height: 42px;
		max-width: 109px;
	}

	#u1321-4-wrapper
	{
		top: 20px;
		margin-left: 255px;
		width: 14.2%;
		max-width: 109px;
	}

	#u2010-4
	{
		min-height: 23px;
		margin-top: 11px;
		width: 18.49%;
		left: 40.76%;
	}

}

@media (min-width: 641px) and (max-width: 731px)
{
	#muse_css_mq
	{
		background-color: #0002db;
	}

	#bp_731.active
	{
		display: block;
	}

	#page
	{
		min-height: 472px;
		padding-bottom: 28px;
		max-width: 731px;
	}

	#pu1300
	{
		padding-bottom: 62px;
	}

	#u1300
	{
		height: 62px;
		margin-left: 365.5px;
		max-width: 731px;
	}

	#u1300-wrapper
	{
		top: 0px;
		margin-left: -366px;
		max-width: 731px;
	}

	#u1417-4
	{
		min-height: 50px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 46px;
		color: #FFFFFF;
		text-align: center;
		font-size: 38px;
		font-family: poiret-one, sans-serif;
		font-weight: 400;
		position: relative;
		left: -50%;
		margin-left: 165.5px;
		width: 100%;
		max-width: 331px;
	}

	#u1417-4:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 50px;
		width: 100%;
		max-width: 331px;
		margin: 0px 0px 0px 166px;
	}

	#u1417-4:hover p,#u1417-4:hover h1
	{
		color: #FFFFFF;
		visibility: inherit;
	}

	#u1417-4-wrapper
	{
		position: fixed;
		top: 11px;
		z-index: 66;
		left: 50%;
		margin-left: -346px;
		width: 45.29%;
		max-width: 331px;
	}

	#pu1642
	{
		padding-bottom: 0px;
		margin-right: -10000px;
		margin-top: 166px;
		width: 67.58%;
		margin-left: 16.15%;
	}

	#u1642
	{
		background-image: url("../images/dsc_0151-u1642-fr.jpg");
		width: 99.8%;
	}

	#u252-36
	{
		min-height: 457px;
		line-height: 28px;
		font-size: 20px;
		margin-top: 24px;
		width: 99.8%;
	}

	#u1957
	{
		margin-top: 81px;
		width: 100%;
	}

	#u1874-21
	{
		min-height: 457px;
		margin-top: 81px;
		width: 99.8%;
	}

	#u1874-2
	{
		font-size: 28px;
		line-height: 39px;
	}

	#u1874-13
	{
		font-size: 17px;
		line-height: 24px;
	}

	#u1874-12,#u1874-15,#u1874-17,#u1874-19
	{
		font-size: 17px;
		line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
	}

	#u1874-7,#u1874-8,#u1874-9,#u1874-11,#u1874-14,#u1874-16,#u1874-18
	{
		font-size: 20px;
		line-height: 28px;
	}

	#ptop
	{
		width: 0.01px;
		padding-bottom: 0px;
		margin-right: -10000px;
		margin-top: 3px;
		margin-left: 156px;
	}

	#about
	{
		margin-top: 433px;
	}

	#portfolio
	{
		width: 22px;
		margin-right: -10000px;
		margin-top: 1096px;
		left: 354px;
	}

	#u1314-4
	{
		min-height: 42px;
		margin-left: 45.30677083333333px;
		max-width: 91px;
	}

	#u1314-4:hover
	{
		margin-left: 45px;
		min-height: 42px;
		max-width: 91px;
	}

	#u1314-4-wrapper
	{
		top: 19px;
		margin-left: 104px;
		width: 12.45%;
		max-width: 91px;
	}

	#u1321-4
	{
		min-height: 42px;
		margin-left: 66.80677083333336px;
		max-width: 134px;
	}

	#u1321-4:hover
	{
		margin-left: 67px;
		min-height: 42px;
		max-width: 134px;
	}

	#u1321-4-wrapper
	{
		top: 19px;
		margin-left: 212px;
		width: 18.34%;
		max-width: 134px;
	}

	#u2010-4
	{
		min-height: 23px;
		margin-top: 11px;
		width: 18.47%;
		left: 40.77%;
	}

}

@media (min-width: 569px) and (max-width: 640px)
{
	#muse_css_mq
	{
		background-color: #000280;
	}

	#bp_640.active
	{
		display: block;
	}

	#page
	{
		min-height: 472px;
		padding-bottom: 28px;
		max-width: 640px;
	}

	#pu1300
	{
		padding-bottom: 62px;
	}

	#u1300
	{
		height: 62px;
		margin-left: 320px;
		max-width: 640px;
	}

	#u1300-wrapper
	{
		top: 0px;
		margin-left: -320px;
		max-width: 640px;
	}

	#u1417-4
	{
		min-height: 50px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 46px;
		color: #FFFFFF;
		text-align: center;
		font-size: 38px;
		font-family: poiret-one, sans-serif;
		font-weight: 400;
		position: relative;
		left: -50%;
		margin-left: 154.5px;
		width: 100%;
		max-width: 309px;
	}

	#u1417-4:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 50px;
		width: 100%;
		max-width: 309px;
		margin: 0px 0px 0px 155px;
	}

	#u1417-4:hover p,#u1417-4:hover h1
	{
		color: #FFFFFF;
		visibility: inherit;
	}

	#u1417-4-wrapper
	{
		position: fixed;
		top: 12px;
		z-index: 66;
		left: 50%;
		margin-left: -320px;
		width: 48.29%;
		max-width: 309px;
	}

	#pu1642
	{
		padding-bottom: 0px;
		margin-right: -10000px;
		margin-top: 166px;
		width: 67.66%;
		margin-left: 16.25%;
	}

	#u1642
	{
		background-image: url("../images/dsc_0151-u1642-fr2.jpg");
		width: 99.77%;
	}

	#u252-36
	{
		min-height: 457px;
		line-height: 28px;
		font-size: 20px;
		margin-top: 24px;
		width: 99.77%;
	}

	#u1957
	{
		margin-top: 81px;
		width: 100%;
	}

	#u1874-21
	{
		min-height: 457px;
		margin-top: 81px;
		width: 99.77%;
	}

	#u1874-2
	{
		font-size: 28px;
		line-height: 39px;
	}

	#u1874-13
	{
		font-size: 17px;
		line-height: 24px;
	}

	#u1874-12,#u1874-15,#u1874-17,#u1874-19
	{
		font-size: 17px;
		line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
	}

	#u1874-7,#u1874-8,#u1874-9,#u1874-11,#u1874-14,#u1874-16,#u1874-18
	{
		font-size: 20px;
		line-height: 28px;
	}

	#ptop
	{
		width: 0.01px;
		padding-bottom: 0px;
		margin-right: -10000px;
		margin-top: 3px;
		margin-left: 153px;
	}

	#top
	{
		margin-left: 3px;
	}

	#about
	{
		margin-left: 3px;
		margin-top: 433px;
	}

	#portfolio
	{
		margin-top: 657px;
	}

	#u1314-4
	{
		min-height: 42px;
		margin-left: 39.666666666666686px;
		max-width: 79px;
	}

	#u1314-4:hover
	{
		margin-left: 40px;
		min-height: 42px;
		max-width: 79px;
	}

	#u1314-4-wrapper
	{
		top: 20px;
		margin-left: 92px;
		width: 12.35%;
		max-width: 79px;
	}

	#u1321-4
	{
		min-height: 42px;
		margin-left: 59.166666666666686px;
		max-width: 118px;
	}

	#u1321-4:hover
	{
		margin-left: 59px;
		min-height: 42px;
		max-width: 118px;
	}

	#u1321-4-wrapper
	{
		top: 20px;
		margin-left: 202px;
		width: 18.44%;
		max-width: 118px;
	}

	#u2010-4
	{
		min-height: 23px;
		margin-top: 11px;
		width: 18.44%;
		left: 40.79%;
	}

}

@media (min-width: 438px) and (max-width: 568px)
{
	#muse_css_mq
	{
		background-color: #000238;
	}

	#bp_568.active
	{
		display: block;
	}

	#page
	{
		min-height: 483px;
		padding-bottom: 17px;
		max-width: 568px;
	}

	#pu1300
	{
		padding-bottom: 62px;
	}

	#u1300
	{
		height: 62px;
		margin-left: 284px;
		max-width: 568px;
	}

	#u1300-wrapper
	{
		top: 0px;
		margin-left: -284px;
		max-width: 568px;
	}

	#u1417-4
	{
		min-height: 50px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 46px;
		color: #FFFFFF;
		text-align: center;
		font-size: 38px;
		font-family: poiret-one, sans-serif;
		font-weight: 400;
		position: relative;
		left: -50%;
		margin-left: 154.5px;
		width: 100%;
		max-width: 309px;
	}

	#u1417-4:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 50px;
		width: 100%;
		max-width: 309px;
		margin: 0px 0px 0px 155px;
	}

	#u1417-4:hover p,#u1417-4:hover h1
	{
		color: #FFFFFF;
		visibility: inherit;
	}

	#u1417-4-wrapper
	{
		position: fixed;
		top: 12px;
		z-index: 66;
		left: 50%;
		margin-left: -284px;
		width: 54.41%;
		max-width: 309px;
	}

	#pu1642
	{
		padding-bottom: 0px;
		margin-right: -10000px;
		margin-top: 166px;
		width: 67.61%;
		margin-left: 16.2%;
	}

	#u1642
	{
		background-image: url("../images/dsc_0151-u1642-fr2.jpg");
		width: 99.74%;
	}

	#u252-36
	{
		min-height: 457px;
		line-height: 28px;
		font-size: 20px;
		margin-top: 24px;
		width: 99.74%;
	}

	#u1957
	{
		margin-top: 81px;
		width: 100%;
	}

	#u1874-21
	{
		min-height: 457px;
		margin-top: 81px;
		width: 99.74%;
	}

	#u1874-2
	{
		font-size: 28px;
		line-height: 39px;
	}

	#u1874-13
	{
		font-size: 17px;
		line-height: 24px;
	}

	#u1874-12,#u1874-15,#u1874-17,#u1874-19
	{
		font-size: 17px;
		line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
	}

	#u1874-7,#u1874-8,#u1874-9,#u1874-11,#u1874-14,#u1874-16,#u1874-18
	{
		font-size: 20px;
		line-height: 28px;
	}

	#ptop
	{
		width: 0.01px;
		padding-bottom: 0px;
		margin-right: -10000px;
		margin-top: 3px;
		margin-left: 153px;
	}

	#top
	{
		margin-left: 3px;
	}

	#about
	{
		margin-left: 3px;
		margin-top: 433px;
	}

	#portfolio
	{
		margin-top: 657px;
	}

	#u1314-4
	{
		min-height: 42px;
		margin-left: 48.20416666666668px;
		max-width: 96px;
	}

	#u1314-4:hover
	{
		margin-left: 48px;
		min-height: 42px;
		max-width: 96px;
	}

	#u1314-4-wrapper
	{
		top: 20px;
		margin-left: 35px;
		width: 16.91%;
		max-width: 96px;
	}

	#u1321-4
	{
		min-height: 42px;
		margin-left: 52.510416666666714px;
		max-width: 105px;
	}

	#u1321-4:hover
	{
		margin-left: 53px;
		min-height: 42px;
		max-width: 105px;
	}

	#u1321-4-wrapper
	{
		top: 20px;
		margin-left: 173px;
		width: 18.49%;
		max-width: 105px;
	}

	#u2010-4
	{
		min-height: 23px;
		margin-top: 11px;
		width: 18.49%;
		left: 40.85%;
	}

}

@media (min-width: 412px) and (max-width: 437px)
{
	#muse_css_mq
	{
		background-color: #0001b5;
	}

	#bp_437.active
	{
		display: block;
	}

	#page
	{
		min-height: 482px;
		padding-bottom: 18px;
		max-width: 437px;
	}

	#pu1300
	{
		padding-bottom: 62px;
	}

	#u1300
	{
		height: 62px;
		margin-left: 218.5px;
		max-width: 437px;
	}

	#u1300-wrapper
	{
		top: 0px;
		margin-left: -219px;
		max-width: 437px;
	}

	#u2268-4
	{
		min-height: 46px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 46px;
		color: #FFFFFF;
		text-align: center;
		font-size: 38px;
		font-family: poiret-one, sans-serif;
		font-weight: 400;
		position: relative;
		left: -50%;
		margin-left: 56px;
		width: 100%;
		max-width: 112px;
	}

	#u2268-4:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 46px;
		width: 100%;
		max-width: 112px;
		margin: 0px 0px 0px 56px;
	}

	#u2268-4:hover p,#u2268-4:hover h1
	{
		color: #FFFFFF;
		visibility: inherit;
	}

	#u2268-4-wrapper
	{
		position: fixed;
		top: 12px;
		z-index: 66;
		left: 50%;
		margin-left: -219px;
		width: 25.63%;
		max-width: 112px;
	}

	#pu1642
	{
		margin-right: -10000px;
		margin-top: 166px;
		width: 90.85%;
		margin-left: 4.58%;
	}

	#u1642
	{
		background-image: url("../images/dsc_0151-u1642-fr2.jpg");
		width: 100%;
	}

	#u252-36
	{
		min-height: 561px;
		line-height: 28px;
		font-size: 20px;
		margin-top: 24px;
		width: 100%;
	}

	#u1957
	{
		margin-top: 80px;
		width: 74.31%;
		margin-left: 12.85%;
	}

	#u1874-21
	{
		min-height: 632px;
		margin-top: 82px;
		width: 100%;
	}

	#u1874-2
	{
		font-size: 28px;
		line-height: 39px;
	}

	#u1874-13
	{
		font-size: 17px;
		line-height: 24px;
	}

	#u1874-12,#u1874-15,#u1874-17,#u1874-19
	{
		font-size: 17px;
		line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
	}

	#u1874-7,#u1874-8,#u1874-9,#u1874-11,#u1874-14,#u1874-16,#u1874-18
	{
		font-size: 20px;
		line-height: 28px;
	}

	#ptop
	{
		width: 0.01px;
		padding-bottom: 0px;
		margin-right: -10000px;
		margin-top: 3px;
		margin-left: 156px;
	}

	#about
	{
		margin-top: 406px;
	}

	#portfolio
	{
		margin-top: 675px;
	}

	#u1314-4
	{
		min-height: 42px;
		margin-left: 49.08489583333335px;
		max-width: 98px;
	}

	#u1314-4:hover
	{
		margin-left: 49px;
		min-height: 42px;
		max-width: 98px;
	}

	#u1314-4-wrapper
	{
		top: 19px;
		margin-left: -49px;
		width: 22.43%;
		max-width: 98px;
	}

	#u1321-4
	{
		min-height: 42px;
		margin-left: 66.08489583333329px;
		max-width: 132px;
	}

	#u1321-4:hover
	{
		margin-left: 66px;
		min-height: 42px;
		max-width: 132px;
	}

	#u1321-4-wrapper
	{
		top: 19px;
		margin-left: 86px;
		width: 30.21%;
		max-width: 132px;
	}

	#u2010-4
	{
		min-height: 23px;
		margin-top: 10px;
		width: 18.54%;
		left: 40.74%;
	}

}

@media (min-width: 376px) and (max-width: 411px)
{
	#muse_css_mq
	{
		background-color: #00019b;
	}

	#bp_411.active
	{
		display: block;
	}

	#page
	{
		min-height: 482px;
		padding-bottom: 18px;
		max-width: 411px;
	}

	#pu1300
	{
		padding-bottom: 62px;
	}

	#u1300
	{
		height: 62px;
		margin-left: 205.5px;
		max-width: 411px;
	}

	#u1300-wrapper
	{
		top: 0px;
		margin-left: -206px;
		max-width: 411px;
	}

	#u2268-4
	{
		min-height: 50px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 46px;
		color: #FFFFFF;
		text-align: center;
		font-size: 38px;
		font-family: poiret-one, sans-serif;
		font-weight: 400;
		position: relative;
		left: -50%;
		margin-left: 49px;
		width: 100%;
		max-width: 98px;
	}

	#u2268-4:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 50px;
		width: 100%;
		max-width: 98px;
		margin: 0px 0px 0px 49px;
	}

	#u2268-4:hover p,#u2268-4:hover h1
	{
		color: #FFFFFF;
		visibility: inherit;
	}

	#u2268-4-wrapper
	{
		position: fixed;
		top: 11px;
		z-index: 66;
		left: 50%;
		margin-left: -206px;
		width: 23.85%;
		max-width: 98px;
	}

	#pu1642
	{
		padding-bottom: 0px;
		margin-right: -10000px;
		margin-top: 166px;
		width: 90.27%;
		margin-left: 4.87%;
	}

	#u1642
	{
		background-image: url("../images/dsc_0151-u1642-fr2.jpg");
		width: 100%;
	}

	#u252-36
	{
		min-height: 586px;
		line-height: 28px;
		font-size: 20px;
		margin-top: 24px;
		width: 100%;
	}

	#u1957
	{
		margin-top: 76px;
		width: 74.94%;
		margin-left: 12.4%;
	}

	#u1874-21
	{
		min-height: 457px;
		margin-top: 82px;
		width: 100%;
	}

	#u1874-2
	{
		font-size: 28px;
		line-height: 39px;
	}

	#u1874-13
	{
		font-size: 17px;
		line-height: 24px;
	}

	#u1874-12,#u1874-15,#u1874-17,#u1874-19
	{
		font-size: 17px;
		line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
	}

	#u1874-7,#u1874-8,#u1874-9,#u1874-11,#u1874-14,#u1874-16,#u1874-18
	{
		font-size: 20px;
		line-height: 28px;
	}

	#u1314-4
	{
		min-height: 42px;
		margin-left: 49.74843750000002px;
		max-width: 99px;
	}

	#u1314-4:hover
	{
		margin-left: 50px;
		min-height: 42px;
		max-width: 99px;
	}

	#u1314-4-wrapper
	{
		top: 19px;
		margin-left: -65px;
		width: 24.09%;
		max-width: 99px;
	}

	#ptop
	{
		width: 0.01px;
		padding-bottom: 0px;
		margin-right: -10000px;
		margin-top: 3px;
		margin-left: 156px;
	}

	#about
	{
		margin-top: 415px;
	}

	#portfolio
	{
		width: 22px;
		margin-right: -10000px;
		margin-top: 1143px;
		left: 183px;
	}

	#u1321-4
	{
		min-height: 42px;
		margin-left: 60.55743750000005px;
		max-width: 121px;
	}

	#u1321-4:hover
	{
		margin-left: 61px;
		min-height: 42px;
		max-width: 121px;
	}

	#u1321-4-wrapper
	{
		top: 19px;
		margin-left: 84px;
		width: 29.45%;
		max-width: 121px;
	}

	#u2010-4
	{
		min-height: 23px;
		margin-top: 10px;
		width: 18.5%;
		left: 40.88%;
	}

}

@media (min-width: 321px) and (max-width: 375px)
{
	#muse_css_mq
	{
		background-color: #000177;
	}

	#bp_375.active
	{
		display: block;
	}

	#page
	{
		min-height: 481px;
		padding-bottom: 19px;
		max-width: 375px;
	}

	#pu1300
	{
		padding-bottom: 62px;
	}

	#u1300
	{
		height: 62px;
		margin-left: 187.5px;
		max-width: 375px;
	}

	#u1300-wrapper
	{
		top: 0px;
		margin-left: -188px;
		max-width: 375px;
	}

	#u2268-4
	{
		min-height: 50px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 46px;
		color: #FFFFFF;
		text-align: center;
		font-size: 38px;
		font-family: poiret-one, sans-serif;
		font-weight: 400;
		position: relative;
		left: -50%;
		margin-left: 54px;
		width: 100%;
		max-width: 108px;
	}

	#u2268-4:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 50px;
		width: 100%;
		max-width: 108px;
		margin: 0px 0px 0px 54px;
	}

	#u2268-4:hover p,#u2268-4:hover h1
	{
		color: #FFFFFF;
		visibility: inherit;
	}

	#u2268-4-wrapper
	{
		position: fixed;
		top: 12px;
		z-index: 66;
		left: 50%;
		margin-left: -188px;
		width: 28.8%;
		max-width: 108px;
	}

	#pu1642
	{
		padding-bottom: 0px;
		margin-right: -10000px;
		margin-top: 166px;
		width: 89.34%;
		margin-left: 5.34%;
	}

	#u1642
	{
		background-image: url("../images/dsc_0151-u1642-fr2.jpg");
		width: 99.71%;
		margin-left: 0.3%;
	}

	#u252-36
	{
		min-height: 654px;
		line-height: 28px;
		font-size: 20px;
		margin-top: 24px;
		width: 99.71%;
		margin-left: 0.3%;
	}

	#u1957
	{
		margin-top: 76px;
		width: 75.83%;
		margin-left: 11.95%;
	}

	#u1874-21
	{
		min-height: 744px;
		margin-top: 81px;
		width: 100%;
	}

	#u1874-2
	{
		font-size: 28px;
		line-height: 39px;
	}

	#u1874-13
	{
		font-size: 17px;
		line-height: 24px;
	}

	#u1874-12,#u1874-15,#u1874-17,#u1874-19
	{
		font-size: 17px;
		line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
	}

	#u1874-7,#u1874-8,#u1874-9,#u1874-11,#u1874-14,#u1874-16,#u1874-18
	{
		font-size: 20px;
		line-height: 28px;
	}

	#u1314-4
	{
		min-height: 42px;
		margin-left: 40.95052083333333px;
		max-width: 82px;
	}

	#u1314-4:hover
	{
		margin-left: 41px;
		min-height: 42px;
		max-width: 82px;
	}

	#u1314-4-wrapper
	{
		top: 20px;
		margin-left: -41px;
		width: 21.87%;
		max-width: 82px;
	}

	#ptop
	{
		width: 0.01px;
		margin-right: -10000px;
		margin-top: 3px;
		margin-left: 156px;
	}

	#about
	{
		margin-left: 11px;
		margin-top: 408px;
	}

	#portfolio
	{
		margin-left: 13px;
		margin-top: 789px;
	}

	#u1321-4
	{
		min-height: 42px;
		margin-left: 59.22135416666666px;
		max-width: 118px;
	}

	#u1321-4:hover
	{
		margin-left: 59px;
		min-height: 42px;
		max-width: 118px;
	}

	#u1321-4-wrapper
	{
		top: 20px;
		margin-left: 69px;
		width: 31.47%;
		max-width: 118px;
	}

	#u2010-4
	{
		min-height: 38px;
		margin-top: 5px;
		width: 22.41%;
		left: 36.8%;
	}

}

@media (max-width: 320px)
{
	#muse_css_mq
	{
		background-color: #000140;
	}

	#bp_320.active
	{
		display: block;
	}

	#page
	{
		min-height: 488px;
		padding-bottom: 12px;
		max-width: 320px;
	}

	#pu1300
	{
		padding-bottom: 62px;
	}

	#u1300
	{
		height: 62px;
		margin-left: 160px;
		max-width: 320px;
	}

	#u1300-wrapper
	{
		top: 0px;
		margin-left: -160px;
		max-width: 320px;
	}

	#u2268-4
	{
		min-height: 50px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 46px;
		color: #FFFFFF;
		text-align: center;
		font-size: 38px;
		font-family: poiret-one, sans-serif;
		font-weight: 400;
		position: relative;
		left: -50%;
		margin-left: 41.5px;
		width: 100%;
		max-width: 83px;
	}

	#u2268-4:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 50px;
		width: 100%;
		max-width: 83px;
		margin: 0px 0px 0px 42px;
	}

	#u2268-4:hover p,#u2268-4:hover h1
	{
		color: #FFFFFF;
		visibility: inherit;
	}

	#u2268-4-wrapper
	{
		position: fixed;
		top: 12px;
		z-index: 66;
		left: 50%;
		margin-left: -160px;
		width: 25.94%;
		max-width: 83px;
	}

	#pu1642
	{
		padding-bottom: 0px;
		margin-right: -10000px;
		margin-top: 166px;
		width: 87.5%;
		margin-left: 6.25%;
	}

	#u1642
	{
		background-image: url("../images/dsc_0151-u1642-fr2.jpg");
		width: 100%;
	}

	#u252-36
	{
		min-height: 590px;
		line-height: 25px;
		font-size: 18px;
		margin-top: 24px;
		width: 100%;
	}

	#u1957
	{
		margin-top: 79px;
		width: 77.15%;
		margin-left: 11.43%;
	}

	#u1874-21
	{
		min-height: 675px;
		margin-top: 82px;
		width: 100%;
	}

	#u1874-2
	{
		font-size: 24px;
		line-height: 34px;
	}

	#u1874-7,#u1874-8,#u1874-12,#u1874-13,#u1874-15,#u1874-17,#u1874-19
	{
		font-size: 18px;
		line-height: 25px;
	}

	#u1314-4
	{
		min-height: 42px;
		margin-left: 40px;
		max-width: 80px;
	}

	#u1314-4:hover
	{
		margin-left: 40px;
		min-height: 42px;
		max-width: 80px;
	}

	#u1314-4-wrapper
	{
		top: 20px;
		margin-left: -45px;
		width: 25%;
		max-width: 80px;
	}

	#ptop
	{
		width: 0.01px;
		padding-bottom: 0px;
		margin-right: -10000px;
		margin-top: 3px;
		margin-left: 149px;
	}

	#top
	{
		margin-left: 7px;
	}

	#about
	{
		margin-top: 406px;
	}

	#portfolio
	{
		margin-top: 721px;
	}

	#u1321-4
	{
		min-height: 42px;
		margin-left: 54.83333333333334px;
		max-width: 110px;
	}

	#u1321-4:hover
	{
		margin-left: 55px;
		min-height: 42px;
		max-width: 110px;
	}

	#u1321-4-wrapper
	{
		top: 20px;
		margin-left: 50px;
		width: 34.38%;
		max-width: 110px;
	}

	#u2010-4
	{
		min-height: 40px;
		margin-top: 10px;
		width: 25.63%;
		left: 37.19%;
	}

	body
	{
		min-width: 200px;
	}
}

