	#muse_css_mq
	{
		background-color: #FFFFFF;
	}

	#bp_infinity.active
	{
		display: block;
	}

	#page
	{
		min-height: 472px;
		padding-bottom: 28px;
		max-width: 960px;
	}

	#pu1300
	{
		padding-bottom: 62px;
		margin-right: -10000px;
	}

	#u1300
	{
		height: 62px;
		position: relative;
		left: -50%;
		margin-left: 480px;
		width: 100%;
		max-width: 960px;
	}

	#u1300-wrapper
	{
		position: fixed;
		top: 0px;
		z-index: 63;
		left: 50%;
		margin-left: -480px;
		width: 100%;
		max-width: 960px;
	}

	#u1417-4
	{
		min-height: 51px;
		border-width: 0px;
		border-color: transparent;
		background-color: transparent;
		line-height: 46px;
		color: #FFFFFF;
		text-align: center;
		font-size: 38px;
		font-family: poiret-one, sans-serif;
		font-weight: 400;
		position: relative;
		left: -50%;
		margin-left: 146px;
		width: 100%;
		max-width: 292px;
	}

	#u1417-4:hover
	{
		padding-top: 0px;
		padding-bottom: 0px;
		min-height: 51px;
		width: 100%;
		max-width: 292px;
		margin: 0px 0px 0px 146px;
	}

	#u1417-4:hover p,#u1417-4:hover h1
	{
		color: #FFFFFF;
		visibility: inherit;
	}

	#u1417-4-wrapper
	{
		position: fixed;
		top: 11px;
		z-index: 64;
		left: 50%;
		margin-left: -480px;
		width: 30.42%;
		max-width: 292px;
	}

	#top
	{
		width: 22px;
		margin-right: -10000px;
		margin-top: 3px;
		left: 156px;
	}

	#u1642
	{
		background-image: url("../images/dsc_0151.jpg");
		margin-right: -10000px;
		margin-top: 166px;
		width: 67.5%;
		left: 16.25%;
	}

	#about
	{
		width: 22px;
		margin-right: -10000px;
		margin-top: 454px;
		left: 156px;
	}

	#pu252-36
	{
		margin-right: -10000px;
		margin-top: 496px;
		width: 67.61%;
		margin-left: 16.15%;
	}

	#u252-36
	{
		min-height: 457px;
		line-height: 28px;
		font-size: 20px;
		width: 99.85%;
		margin-left: 0.16%;
	}

	#u1957
	{
		margin-top: 81px;
		width: 100%;
	}

	#portfolio
	{
		width: 22px;
		margin-right: -10000px;
		margin-top: 1035px;
		left: 155px;
	}

	#u1874-19
	{
		min-height: 457px;
		margin-right: -10000px;
		margin-top: 1117px;
		width: 67.5%;
		left: 16.25%;
	}

	#u1874-2
	{
		font-size: 28px;
		line-height: 39px;
	}

	#u1874-13
	{
		font-size: 17px;
		line-height: 24px;
	}

	#u1874-12,#u1874-15,#u1874-17
	{
		font-size: 17px;
		line-height: 0px;/* 0 for mixed font sized paras; applied on spans instead */
	}

	#u1874-7,#u1874-8,#u1874-9,#u1874-11,#u1874-14,#u1874-16
	{
		font-size: 20px;
		line-height: 28px;
	}

	#u1314-4
	{
		min-height: 43px;
		margin-left: 59.5px;
		max-width: 119px;
	}

	#u1314-4-wrapper
	{
		top: 19px;
		margin-left: 205px;
		width: 12.4%;
		max-width: 119px;
	}

	#u1321-4
	{
		min-height: 43px;
		margin-left: 59.5px;
		max-width: 119px;
	}

	#u1314-4:hover,#u1321-4:hover
	{
		margin-left: 60px;
		min-height: 43px;
		max-width: 119px;
	}

	#u1321-4-wrapper
	{
		top: 19px;
		margin-left: 361px;
		width: 12.4%;
		max-width: 119px;
	}

	#u2010-4
	{
		min-height: 23px;
		margin-right: -10000px;
		margin-top: 11px;
		width: 18.44%;
		left: 40.84%;
	}

	.verticalspacer
	{
		min-height: 1px;
	}

