body {
  font-family: 'Poiret One', 'Helvetica Neue', sans-serif;
  padding-top: 70px;
  background-color: #111;
  color: #999999;
}

.navbar {
  font-size: 2.3em;
  color: black;
  background-color: #111;
  border-bottom: 1px solid #64D1FF;
  padding: .7% 0;
}

.navbar-brand {
  font-size: 1.3em;
  margin-top: 1px;
  overflow-y: visible;
}

.navbar-nav>li>.dropdown-menu {
  background-color: #111;
}

.dropdown-menu>li>a {
  color: #64D1FF;
}

.dropdown-menu>li>a:hover {
  background-color: #111;
  color: #fff;
}

.main-image {
  margin-top: 80px;
  margin-bottom: 40px;
  max-height: 360px;
  object-fit: cover;
}

.content-container {
  border-bottom: 1px solid #64D1FF;
  padding-bottom: 5%;
}

p {
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-size: 1.4em;
  padding: .5% 0;
  line-height: 1.6em;
}

img {
  width: 648px;
  margin: 4px 0 4px 0;
}

#projects {
  margin-top: 5%;
}

#audio {
  margin-top: 10px;
}

.link, #phc {
  color: #64D1FF;
}

.link:visited, #phc:visited, .btn:visited {
  color: #64D1FF;
  text-decoration: none;
}

.link:hover, #phc:hover, .btn:hover {
  color: white;
  text-decoration: none;
}

.link:focus, #phc:focus, .btn:focus {
  color: white;
  text-decoration: none;
}

.btn {
  font-size: 1.5em;
  color: #64D1FF;
}

.modal-dialog {

}

@media screen and (max-width: 768px) {

  .navbar-nav li {
    text-align: right;
  }

  .video {
    width: 700px;
    height: 320px;
  }
}

@media screen and (max-width: 736px){
  .video {
    text-align: center;
    width: 714;
    height: 355px;
  }
}
